
:root{
   --main-text-color:  hsl(193, 38%, 86%);
    --neon-green:       hsl(150, 100%, 66%);
    --dice-text-color:  hsl(217, 19%, 38%);
    --advice-bg-color:    hsl(217, 19%, 24%);
    --main-bg-color:    hsl(218, 23%, 16%);
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

body{
    background-color: var(--main-bg-color);
    font-size: 28px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

.advice-container{
    background-color: var(--advice-bg-color);
    height: 17rem;
    border-radius: 15px;
    margin-top: 7.5rem;
    text-align: center;
    padding: 20px;
    width: 80vw;
}

.advice-container span {
    font-size: 11px;
    font-weight: bold;
    color: var(--neon-green);
    letter-spacing: 2px;
}

.advice-container p {
    color: var(--main-text-color);
    height: 96px;
}

.advice-container img {
    display: block;
    width: 100%;
}

.advice-container button{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background-image: url(./images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--neon-green);
    position: relative;
    top:    30px;
    left:   0px;
    right:  0px;
    bottom: 0px;
}

.advice-container button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px 1px rgba(39,255,94,0.66);
}

@media (min-width: 375px) {
   
    .advice-container{
        margin-top: 250px;
        width: 425px;
        height: 250px;
    }
}